extends layout

block content 

    div.container.row.mt-2.mb-2
        each item in warehouses
            div.card.col-lg-4.col-md-6.col-sm-12
                div.card-body
                    h3.card-title.text-center= item 
                    div.card.m-4
                        div.card-body
                            h5.card-title.text-center FROM URL
                            input.form-control.text-center(type="text", placeholder= 'http://' id= `${item}` )
                    
                    div.card.m-4
                        div.card-body
                            h5.card-title.text-center FROM FILE
                            div.custom-file
                                input.custom-file-input(type= "file", accept = ".xml" )
                                label.custom-file-label XML